.ButtonsComponent {
	margin-top: 5rem;
	display: flex;
	justify-content: space-between;

	button {
		background-color: #10b981;
		padding: 0.5rem 1rem;
		border-radius: 6px;
		color: white;
		transition-duration: 0.2s;
		&:disabled {
			opacity: 0.5;
			cursor: not-allowed;
		}
		&:not(:disabled):hover {
			background-color: #059669;
		}
	}
}
